(kicad_pcb
  (version 20221018)
  (generator "hardware_pcb_engine")
  (general
    (thickness {{ board.stackup.total_thickness_mm }})
  )
  (paper "{{ board.sheet_size or 'A4' }}")
  (title_block
    (title "{{ board.name }}")
    (rev "{{ board.revision or '1.0' }}")
  )
  (layers
    (0 "F.Cu" signal)
{% for layer in copper_inner_layers %}
    ({{ loop.index }} "{{ layer.name }}" signal)
{% endfor %}
    (31 "B.Cu" signal)
    (32 "B.Adhes" user "B.Adhesive")
    (33 "F.Adhes" user "F.Adhesive")
    (34 "B.Paste" user)
    (35 "F.Paste" user)
    (36 "B.SilkS" user "B.Silkscreen")
    (37 "F.SilkS" user "F.Silkscreen")
    (38 "B.Mask" user)
    (39 "F.Mask" user)
    (40 "Dwgs.User" user "User.Drawings")
    (41 "Cmts.User" user "User.Comments")
    (42 "Eco1.User" user "User.Eco1")
    (43 "Eco2.User" user "User.Eco2")
    (44 "Edge.Cuts" user)
    (45 "Margin" user)
    (46 "B.CrtYd" user "B.Courtyard")
    (47 "F.CrtYd" user "F.Courtyard")
    (48 "B.Fab" user)
    (49 "F.Fab" user)
    (50 "User.1" user)
    (51 "User.2" user)
    (52 "User.3" user)
    (53 "User.4" user)
    (54 "User.5" user)
    (55 "User.6" user)
    (56 "User.7" user)
    (57 "User.8" user)
    (58 "User.9" user)
  )
  (setup
    (stackup
{% for layer in board.stackup.layers %}
      (layer "{{ layer.name }}" (type "{{ layer.layer_type }}") (color "{{ layer.material }}") (thickness {{ layer.thickness_mm }}){% if layer.dielectric_constant %} (epsilon_r {{ layer.dielectric_constant }}){% endif %})
{% endfor %}
      (copper_finish "{{ board.stackup.finish }}")
    )
    (pad_to_mask_clearance 0.05)
  )
  (net 0 "")
{% for net_info in nets %}
  (net {{ net_info.idx }} "{{ net_info.name }}")
{% endfor %}

{% for fp in footprints %}
  (footprint "{{ fp.package }}" (layer "F.Cu")
    (at {{ fp.x_mm }} {{ fp.y_mm }})
    (fp_text reference "{{ fp.name }}" (at 0 -2.5) (layer "F.SilkS") (effects (font (size 1 1) (thickness 0.15))))
    (fp_text value "{{ fp.value }}" (at 0 2.5) (layer "F.Fab") (effects (font (size 1 1) (thickness 0.15))))
{% for pin in fp.pins %}
    (pad "{{ pin.name }}" smd circle (at {{ pin.x_mm }} {{ pin.y_mm }}) (size {{ pin.pad_dia_mm }} {{ pin.pad_dia_mm }}) (layers "F.Cu" "F.Paste" "F.Mask") (net {{ pin.net_idx }} "{{ pin.net_name }}"))
{% endfor %}
  )
{% endfor %}

{% for seg in segments %}
  (segment (start {{ seg.x1 }} {{ seg.y1 }}) (end {{ seg.x2 }} {{ seg.y2 }}) (width {{ seg.width }}) (layer "{{ seg.layer }}") (net {{ seg.net_idx }}))
{% endfor %}

{% for via in vias %}
  (via (at {{ via.x }} {{ via.y }}) (size {{ via.dia }}) (drill {{ via.drill }}) (layers "{{ via.layer1 }}" "{{ via.layer2 }}") (net {{ via.net_idx }}))
{% endfor %}

  (gr_rect (start {{ outline.x1 }} {{ outline.y1 }}) (end {{ outline.x2 }} {{ outline.y2 }}) (stroke (width 0.1) (type default)) (fill none) (layer "Edge.Cuts"))
{% for text in silkscreen_texts %}
  (gr_text "{{ text.text }}" (at {{ text.x_mm }} {{ text.y_mm }}{% if text.rotation %} {{ text.rotation }}{% endif %}) (layer "{{ text.layer }}") (effects (font (size {{ text.font_size }} {{ text.font_size }}) (thickness {{ text.thickness }})){% if text.mirror %} (justify mirror){% endif %}))
{% endfor %}
)
