(kicad_pcb
  (version 20240108)
  (generator "hardware_pcb_engine")
  (generator_version "8.0")
  (general
    (thickness {{ board.stackup.total_thickness_mm }})
  )
  (paper "A4")
  (layers
    (0 "F.Cu" signal)
{% for layer in copper_inner_layers %}
    ({{ loop.index }} "{{ layer.name }}" {{ layer.layer_type }})
{% endfor %}
    (31 "B.Cu" signal)
    (32 "B.Adhes" user "B.Adhesive")
    (33 "F.Adhes" user "F.Adhesive")
    (34 "B.Paste" user)
    (35 "F.Paste" user)
    (36 "B.SilkS" user "B.Silkscreen")
    (37 "F.SilkS" user "F.Silkscreen")
    (38 "B.Mask" user)
    (39 "F.Mask" user)
    (40 "User.Drawings" user)
    (41 "User.Comments" user)
    (42 "User.Eco1" user)
    (43 "User.Eco2" user)
    (44 "Edge.Cuts" user)
    (45 "Margin" user)
    (46 "B.CrtYd" user "B.Courtyard")
    (47 "F.CrtYd" user "F.Courtyard")
    (48 "B.Fab" user)
    (49 "F.Fab" user)
  )
  (setup
    (stackup
{% for layer in board.stackup.layers %}
      (layer "{{ layer.name }}" (type "{{ layer.layer_type }}") (color "{{ layer.material }}") (thickness {{ layer.thickness_mm }}){% if layer.dielectric_constant %} (epsilon_r {{ layer.dielectric_constant }}){% endif %})
{% endfor %}
      (copper_finish "{{ board.stackup.finish }}")
    )
    (pad_to_mask_clearance 0.05)
  )
  (net 0 "")
{% for net_info in nets %}
  (net {{ net_info.idx }} "{{ net_info.name }}")
{% endfor %}

{% for fp in footprints %}
  (footprint "{{ fp.package }}"
    (layer "F.Cu")
    (uuid "{{ fp.uuid }}")
    (at {{ fp.x_mm }} {{ fp.y_mm }})
    (property "Reference" "{{ fp.name }}" (at 0 -2.5 0) (layer "F.SilkS"))
    (property "Value" "{{ fp.value }}" (at 0 2.5 0) (layer "F.Fab"))
{% for pin in fp.pins %}
    (pad "{{ pin.name }}" smd circle (at {{ pin.x_mm }} {{ pin.y_mm }}) (size {{ pin.pad_dia_mm }} {{ pin.pad_dia_mm }}) (layers "F.Cu" "F.Paste" "F.Mask") (net {{ pin.net_idx }} "{{ pin.net_name }}"))
{% endfor %}
  )
{% endfor %}

{% for seg in segments %}
  (segment (start {{ seg.x1 }} {{ seg.y1 }}) (end {{ seg.x2 }} {{ seg.y2 }}) (width {{ seg.width }}) (layer "{{ seg.layer }}") (net {{ seg.net_idx }}))
{% endfor %}

{% for via in vias %}
  (via (at {{ via.x }} {{ via.y }}) (size {{ via.dia }}) (drill {{ via.drill }}) (layers "{{ via.layer1 }}" "{{ via.layer2 }}") (net {{ via.net_idx }}))
{% endfor %}

  (gr_rect (start {{ outline.x1 }} {{ outline.y1 }}) (end {{ outline.x2 }} {{ outline.y2 }}) (stroke (width 0.1) (type solid)) (fill none) (layer "Edge.Cuts"))
)
