.ipynb_checkpoints
.DS_Store
.sl
.git
__pycache__
out.txt
build/*
!build/attachments/
!build/attachments/**
scancode-report.json
TODO.md
recordings/
*.rrd
feedback/BUGS.md
feedback/CR.md
feedback/CR_working.md